---
import NavFootES from "../../../layouts/NavFootES.astro"; 
import SubmenuLayoutES from "../../../layouts/SubmenuLayoutES.astro";
import projects from "../../../utils/projectsES.json"
import Arrow from "../../../components/svg/Arrow"

---

<NavFootES title="Federico-Liberati">
  <div class="title-container">
    <h1 class="title">ARQUITECTURA,</h1>
    <a class="arrow" href="#project"><Arrow /> </a>
    </div>
    <main id="project" class="container">
      <SubmenuLayoutES />
      <div class="columns">
        <div class="column">
          {
            projects.filter((project, index) => project.class === "arquitectura" && index % 2 === 0).map(
              (project, index) => (
                <a href={`/es/project/${project.index}`} class="image-link">
                  <div class="image-container">
                    <img
                      class="foto"
                      src={`/${project.thumbnail[0]}`}
                      alt={`${project.title}`}
                    />
                    <div class="overlay">
                      <div class="text-container">
                        <h2 class="text">
                          {project.index} — {project.title} — {project.year}
                        </h2>
                        <p class="text2">{project.type}</p>
                        <p class="text2">{project.status}</p>
                      </div>
                    </div>
                  </div>
                </a>
              )
            )
          }
        </div>
        <div class="column">
          {
            projects.filter((project, index) => project.class === "arquitectura" && index % 2 !== 0).map(
              (project, index) => (
                <a href={`/es/project/${project.index}`} class="image-link">
                  <div class="image-container">
                    <img
                      class="foto"
                      src={`/${project.thumbnail[0]}`}
                      alt={`${project.title}`}
                    />
                    <div class="overlay">
                      <div class="text-container">
                        <h2 class="text">
                          {project.index} — {project.title} — {project.year}
                        </h2>
                        <p class="text2">{project.type}</p>
                        <p class="text2">{project.status}</p>
                      </div>
                    </div>
                  </div>
                </a>
              )
            )
          }
        </div>
      </div>
    </main>
  </NavFootES>

<style>
h1 {
    text-align: center;
  }

  html {
    scroll-behavior: smooth;
  }

  .title {
  text-align: start;
  margin-left: 2rem;
  font-family: NimbusSans;
  font-weight: 100;
  font-size: 3rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    height: 90dvh;
    justify-content: end;
  }

  .arrow {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
  text-align: start;
  margin-top: 70vh;
  margin-left: 2rem;
  font-family: NimbusSans;
  font-weight: 100;
  font-size: 3rem;
  }

  .columns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .foto {
    width: 100%;
    height: auto;
    position: relative;
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: NimbusSans;
  }

  .text-container {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    line-height: 1rem;
  }

  .image-link:hover .overlay {
    opacity: 1;
  }

  .text {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }

  .text2 {
    color: black;
    font-size: 20px;
    font-family: TimesNow;
  }

  .textcel {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .columns {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 90vw;
    }
  }
</style>